<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">
	<variable name="logDirectory" value="C:\Users\student\Проект стажировка\BoardGameManager1\BoardGameManager1/logs/${shortdate}" />
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>


	<targets>
		<!--Можно разделять по файлам-->
		<target xsi:type="File" name="fileLogTrace" fileName="${logDirectory}/nlog-Trace-${shortdate}.log" deleteOldFileOnStartup="true" concurrentWrites="true" />
		<target xsi:type="File" name="fileLogDebug" fileName="${logDirectory}/nlog-Debug-${shortdate}.log" deleteOldFileOnStartup="true" concurrentWrites="true" />
		<target xsi:type="File" name="fileLogInfo" fileName="${logDirectory}/nlog-Info-${shortdate}.log" deleteOldFileOnStartup="true" concurrentWrites="true" />
		<target xsi:type="File" name="fileLogWarn" fileName="${logDirectory}/nlog-Warn-${shortdate}.log" deleteOldFileOnStartup="true" concurrentWrites="true" />
		<target xsi:type="File" name="fileLogErrors" fileName="${logDirectory}/nlog-Errors-${shortdate}.log" deleteOldFileOnStartup="true" concurrentWrites="true" />
		<target xsi:type="File" name="fileLogFatal" fileName="${logDirectory}/nlog-Fatal-${shortdate}.log" deleteOldFileOnStartup="true" concurrentWrites="true" />

		<!--Запись в файл-->
		<target xsi:type="File" name="allfile" fileName="${logDirectory}/nlog-all-${shortdate}.log" deleteOldFileOnStartup="true" concurrentWrites="true" />
	</targets>

	<rules>
		<logger name="*" level="Trace" writeTo="fileLogTrace" />
		<logger name="*" level="Debug" writeTo="fileLogDebug" />
		<logger name="*" level="Info" writeTo="fileLogInfo" />
		<logger name="*" level="Warn" writeTo="fileLogWarn" />
		<logger name="*" level="Error" writeTo="fileLogErrors" />
		<logger name="*" level="Fatal" writeTo="fileLogFatal" />
	</rules>

</nlog>